<div class="row">
    <h1>Meet <span class="aqua">E</span><span class="lime">l</span><span class="magenta">l</span><span class="orange">i</span><span class="aqua">e</span><span class="lime">D</span><span class="magenta">e</span><span class="orange">e</span>!</h1>
    <div class="col-md-10 col-md-offset-1">
    <!-- <div class="panel panel-magenta panel-padding text-center">
      <%= image_tag("ellieDee.jpg") %>
    </div> -->


    <p>EllieDee is an <a href="https://www.arduino.cc/">arduino</a>-powered 12 x 12 LED matrix who lives in San Diego, CA with her human <a href="chris-fasulo.com">Chris Fasulo</a>. EllieDee can be a bit flashy at times, but she's pretty bright for her age and can instantly light up the room with her vibrance! Originally, EllieDee only communicated via Bluetooth, but now with a few upgrades, she's joining the <a href="https://en.wikipedia.org/wiki/Internet_of_things">Internet of Things</a> revolution! This is her story...<p>

    <ul>
      <li>
      <strong>April 2016:</strong> Hardware! Every loveable robot needs a body, so Chris started crafting EllieDee with everyday household items like wood, a 3D printer, 16 feet of digitally addressable LEDs, some diffused acylic paneling, and various electronics (ya know, only the essentials).
      </li>

      <li>
      <strong>July 2016:</strong> Software! Initially designed and built by Chris prior to any serious programming knowledge, the result was a muddled but workable Android-compatible app created with <a href="http://appinventor.mit.edu/explore/">MIT App Inventor</a> tools.
      </li>

      <li>
        <strong>November 2016:</strong> Software: The Sequel. Chris took a second hack at recreating the controller via a JavaScript web app after attending LEARN Academy Jumpstart Weekend (three day crash course in HTML, CSS, JS basics for anyone looking to get a taste of their full bootcamp program). At this point, he knew just enough to get him just about nowhere (or so he thought..)
      </li>

      <li>
        <strong>February 2017:</strong> V3: EllieDee Does Rails. After attending a four-month long programming bootcamp at <a href="https://www.learnacademy.org/">LEARN Academy</a>, Chris rewrote the "controller" as a full-stack Ruby on Rails application to begin IoT integration.
      </li>

      <li>
        <strong>TODO:</strong> Teach EllieDee how to say "please" (GET led colors from online database) and "thank you" (POST connection status) when speaking with the shiny new Rails app hosted by <a href="https://www.heroku.com/">Heroku</a>. Stay Tuned!
      </li>
    </ul>
    <br>

    <%= render 'carousel' %>

  </div>
</div>
