.navbar-brand {
  padding: 10px 15px;
}

.navbar-brand > img {
  display: inline-block;
  height: 100%;
}

/* Custom Colored Panels */
.huge {
    font-size: 40px;
}

.panel-padding {
  padding: 10px;
  margin: 20px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.lime {
    color: #7FF200;
}

.panel-lime {
    border-color: #7FF200;
}

.panel-lime > .panel-heading {
    border-color: #7FF200;
    color: #fff;
    background-color: #7FF200;
}

.panel-lime > a {
    color: #7FF200;
}

.panel-lime > a:hover {
    color: #5a901f;
}

.aqua {
    color: #66d8da;
}

.panel-aqua {
    border-color: #66d8da;
}

.panel-aqua > .panel-heading {
    border-color: #66d8da;
    color: #fff;
    background-color: #66d8da;
}

.panel-aqua > a {
    color: #66d8da;
}

.panel-aqua > a:hover {
    color: #439394;
}

.orange {
    color: #F29C33;
}

.panel-orange {
    border-color: #F29C33;
}

.panel-orange > .panel-heading {
    border-color: #F29C33;
    color: #fff;
    background-color: #F29C33;
}

.panel-orange > a {
    color: #F29C33;
}

.panel-orange > a:hover {
    color: #a66a22;
}

.magenta {
    color: #E754CE;
}

.panel-magenta {
    border-color: #E754CE;
}

.panel-magenta > .panel-heading {
    border-color: #E754CE;
    color: #fff;
    background-color: #E754CE;
}

.panel-magenta > a {
    color: #E754CE;
}

.panel-magenta > a:hover {
    color: #f671df;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.field span {
  color: red;
}

.required:before {
  content:"*";
  color: red;
}

.fa-play-circle {
  color: #337ab7;
}

#profileInfo, h1 {
  padding: 8px;
}

#profileInfo button {
  margin: 10px;
  font-weight: bold;
}

#profileInfo .btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

#profileInfo .btn-primary {
  background: #E754CE;
  color: #ffffff;
  border: 0;
  border-radius: 24px;
}

#profileInfo .btn-primary:hover, #profileInfo .btn-primary:focus, #profileInfo .btn-primary:active, #profileInfo .btn-primary.active, #profileInfo .open > .dropdown-toggle.btn-primary {
  background: #f671df;
}

#profileInfo .btn-primary:active, #profileInfo .btn-primary.active {
  background: #913482;
  box-shadow: none;
}
